<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPLIT BILLS</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <link rel="icon" href="img/favicon.ico">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="separacion_contenedores">
        <h1>Split Bills</h1>
    </header>

    <main id="main" class="separacion_contenedores">
        <div class="modal" v-show="modal">
            <div class="cont_modal">
                <div class="header_agregar">
                    <h3>Agrega una factura</h3>
                    <a href="" @click="cerrar">x</a>
                </div>
    
                <form action="">
                    <div>
                        <label for="motivo">Motivo</label>
                        <input id="motivo" type="text" name="motivo" placeholder="Motivo" v-model="motivo" @change="validacionMotivo">
                    </div>
        
                    <div style="margin-top: 25px;">
                        <label for="valor">Valor</label>
                        <input id="valor" type="number" name="valor" placeholder="Valor" v-model="valor">
                    </div>
                </form>
    
                <button @click="agregar">Agregar</button>
            </div>
        </div>

        <sueldos-usuarios :usuario1="usuario1" :usuario2="usuario2" :sueldo-u1="sueldoU1" :sueldo-u2="sueldoU2"></sueldos-usuarios>

        
        <div class="cont_resultados">
            <div class="organizador_res">
                <agregar-nueva-factura @mostrar-modal="mostrarModal"></agregar-nueva-factura>
    
                <div class="separacion_contenedores">
                    <h2>Mis facturas:</h2>
    
                    <p style="margin-top: 20px;" v-if="allFacturas.length == 0">Aún no has agregado facturas.</p>

                    <div class="resultado_individual" v-for="(i, index) in allFacturas" v-else>
                        <div class="header_resultado">
                            <h3>{{i.razon}}</h3>
                            <button @click="borrar(index)">x</button>
                        </div>
    
                        <div class="resultados" style="margin-top: 25px;">
                            <p>{{usuario1}}</p>
                            <p>${{i.precioUsuario1}}</p>
                        </div>
    
                        <div class="resultados" style="margin-top: 20px;">
                            <p>{{usuario2}}</p>
                            <p>${{i.precioUsuario2}}</p>
                        </div>
    
                        <div class="resultado_total">
                            <p>Total</p>
                            <p>{{i.precio}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="script.js"></script>
</body>
</html>